<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Employee</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
<header th:replace="~{/fragment/layout::header}">
</header>
<nav th:replace="~{/fragment/layout::navbar}">
</nav>
<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-lg-3">
            <ul style="list-style-type: none">
                <li><a class="btn btn-success mb-5" href="/contractDetail/create">Create Contract Detail</a></li>
            </ul>
        </div>
        <div class="col-lg-9">
            <div class="container">
                <form class="input-group mb-3" action="/contractDetail">
                    <input class="form-control" type="text" name="keyword" placeholder="Enter Name">
                    <input class="btn btn-primary" type="submit" value="Search">
                </form>
                <p style="color: #298635" th:text="${createSC}"></p>
                <p style="color: #aa871c" th:text="${UpdateSC}"></p>
                <p style="color: #b60a0a" th:text="${deleteSC}"></p>
                <table class="table table-hover">
                    <tr style="background-color: #3f6c6a; color: white">
                        <th>ID</th>
                        <th>Contract</th>
                        <th>Attach Service</th>
                        <th>Quantity</th>
                    </tr>
                    <tr th:each="contractDetail : ${contractDetailList}">
                        <td th:text="${contractDetail.contractDetailId}"></td>
                        <td th:text="${contractDetail.contracts.contractStartDate}"></td>
                        <td th:text="${contractDetail.attachServices.attachServiceName}"></td>
                        <td th:text="${contractDetail.quantity}"></td>
<!--                        <td>-->
<!--                            &lt;!&ndash; Button trigger modal &ndash;&gt;-->
<!--                            <button id="viewModal" type="button" class="btn btn-primary">-->
<!--                                View-->
<!--                            </button>-->
<!--                            <input type="text" th:value="${contractDetail.contractDetailId}" hidden>-->

<!--                        </td>-->
<!--                        <td><a class="btn btn-warning" th:href="@{/contractDetail/edit/__${contractDetail.contractDetailId}__}">Update</a></td>-->
<!--                        <td>&lt;!&ndash; Button trigger modal &ndash;&gt;-->
<!--                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#DeleteModal">-->
<!--                                Delete-->
<!--                            </button>-->
<!--                            &lt;!&ndash; Modal &ndash;&gt;-->
<!--                            <div class="modal fade" id="DeleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
<!--                                <div class="modal-dialog">-->
<!--                                    <div class="modal-content">-->
<!--                                        <div class="modal-header">-->
<!--                                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>-->
<!--                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--                                        </div>-->
<!--                                        <div class="modal-body">-->
<!--                                            <p>Are you sure to delete <span th:text="${contractDetail.contractDetailName}"> </span> ?</p>-->
<!--                                        </div>-->
<!--                                        <div class="modal-footer">-->
<!--                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
<!--                                            <button type="button" class="btn btn-danger"><a style="text-decoration: none" th:href="@{/contractDetail/delete/__${contractDetail.contractDetailId}__}"></a>Delete</button>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </td>-->
                    </tr>
                </table>
<!--                <div>-->
<!--                    <a th:href="@{'/contractDetail'(page=${contractDetailList.number - 1})}"-->
<!--                       th:if="${contractDetailList.hasPrevious()}">Previous</a>-->
<!--                    <span th:text="${contractDetailList.number + 1}"></span>/<span-->
<!--                        th:text="${contractDetailList.totalPages}"></span>-->
<!--                    <a th:href="@{'/contractDetail'(page=${contractDetailList.number + 1})}"-->
<!--                       th:if="${contractDetailList.hasNext()}">Next</a>-->
<!--                </div>-->
                <!-- Modal -->
                <div class="modal fade" id="exampleModalEmployee" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div id="modalEmployee" class="modal-body">
                                ...
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
            <svg class="bi" width="30" height="24">
                <use xlink:href="#bootstrap"></use>
            </svg>
        </a>
        <span class="text-muted">© 2022 Company, Inc</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3"><a class="text-muted" href="#">
            <svg class="bi" width="24" height="24">
                <use xlink:href="#twitter"></use>
            </svg>
        </a></li>
        <li class="ms-3"><a class="text-muted" href="#">
            <svg class="bi" width="24" height="24">
                <use xlink:href="#instagram"></use>
            </svg>
        </a></li>
        <li class="ms-3"><a class="text-muted" href="#">
            <svg class="bi" width="24" height="24">
                <use xlink:href="#facebook"></use>
            </svg>
        </a></li>
    </ul>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#viewModal").click(function () {
            let idEmp = $(this).next().val();
            $.ajax({
                url: "/contractDetail/view/" + idEmp,
                type: "GET",
                dataType: "HTML",
                success: function (data) {
                    $("#modalEmployee").html(data);
                    $("#exampleModalEmployee").modal("show");
                }
            })
        })
    })
</script>
</body>
</html>